# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Banco de dados
*.db
*.sqlite
*.sqlite3
instance/

# Uploads
uploads/
uploads_comercial/

# Node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
